@charset "utf-8";

/*構成要素-------*/

.test {
  width: 100%;
  height: 400px;
  background-color: #999;
  position: relative;
}

.test label {
  cursor: pointer;
}

.test p {
  margin-bottom: 1em;
}

.test .frame {
  padding: 10px;
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  z-index: 50;
}

.test .section {
  position: relative;
}

.test .clickable {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 90;
}

.test .choices {
  background-color: #ddd;
  padding: 30px;
  position: relative;
  z-index: 100;
}

.test .choice {
  text-decoration: underline;
  color: #0070c0;
}

.test .choice:hover {
  text-decoration: none;
}

.test .visual {
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  background-color: #999;
  overflow: hidden;
  opacity: 0;
  z-index: 1;
  -webkit-animation: fade-out .5s ease;
  -moz-animation: fade-out .5s ease;
}

.test .visual.start {
  opacity: 0;
  z-index: 2;
  -webkit-animation: fade-out 1s ease-in;
}

.test .frame,
.test .choices,
.test .clickable,
.test .section,
.test input[id^="frame"] {
  display: none;
}

.test input[id^="frame"]:checked + .frame,
.test input[id^="frame"]:checked + .clickable,
.test input[id^="frame"]:checked + .section,
.test input[id^="frame"]:checked + .clickable + .section,
.test input[id^="frame"]:checked + .choices {
  display: block;
}

.test input[id^="frame"]:checked + .clickable + .section {
  -webkit-animation: fade-in .5s ease;
  -moz-animation: fade-in .5s ease;
}

.btn-box{
  padding: 10px 0;
  text-align: right;
}

/*visualとinputを結びつける---*/

.test .visual {
  font-size: 9em;
  line-height: 1.5em;
  color: #a0a0a0;
  text-align: right;
}

.test input[name="frame-main"][id^="frame1"]:checked ~ .visual-normal,
.test input.visual-joy:checked ~ .visual-joy,
.test input.visual-sweat:checked ~ .visual-sweat {
  opacity: 1;
  -webkit-animation: fade-in .5s ease;
  -moz-animation: fade-in .5s ease;
}

/*アニメーション---*/

@-webkit-keyframes fade-in {
  0% {opacity: 0;}
  99.9% {opacity: 1;}
}

@-moz-keyframes fade-in {
  0% {opacity: 0;}
  99.9% {opacity: 1;}
}

@-webkit-keyframes fade-out {
  0% {opacity: 1;}
  99.9% {opacity: 0;}
}

@-moz-keyframes fade-out {
  0% {opacity: 1;}
  99.9% {opacity: 0;}
}